
<%= link_to 'Slides', :controller => 'slide', :action => 'list' %> |
<%= link_to 'Chains', :controller => 'chain', :action => 'list' %> |
<%= link_to 'Displays', :controller => 'dashboard', :action => 'displays' %> | 
<%= link_to 'EntryPoint', :controller => 'entrypoint', :action => 'view' %> | 
<%= link_to 'Import', :controller => 'slide', :action => 'import' %>


